
.wp-block-blocks-everywhere-support-content {
	&:not(:first-child) {
		margin-top: 28px;
	}
	&:not(:last-child) {
		margin-bottom: 28px;
	}
	.components-notice.is-error.is-dismissible {
		padding-right: 0;
	}
}

.be-support-content {
	--line-height-content: 20px;
	--line-height-title: 24px;

	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-sm);
	background: var(--card-background);
	padding: 29px 30px;
	cursor: pointer;

	position: relative;
	display: flex;
	gap: 16px;
	flex-direction: column;

	font-family: var(--font-family-body);
	font-style: normal;
	font-weight: 400;
	font-size: var(--font-size-sm);
	line-height: var(--line-height-content);

	&__created {
		display: none;
	}

	&__opener {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&__link.be-support-content__link {
		text-decoration: none;
		color: var(--muted-text);
		z-index: 1;

		&:hover {
			color: var(--text-color);
			text-decoration: underline;
		}
	}

	&__header {
		display: flex;
		gap: 24px;
		align-items: center;
	}

	&__title {
		font-weight: 500;
		font-size: var(--font-size-base);
		line-height: var(--line-height-title);

		display: flex;
		align-items: center;
		gap: 8px;

		color: var(--text-color);
	}

	&__badge {
		padding: 0 10px;
		background: var(--accent-3);
		border-radius: var(--border-radius-sm);

		font-family: var(--font-family-body);
		font-weight: 500;
		font-size: var(--font-size-xs);
		line-height: var(--line-height-content);
		color: var(--button-text-color);
	}

	&__source {
		color: var(--muted-text);
		display: flex;
		gap: 4px;
	}

	&__details {
		font-weight: 400;
		font-size: var(--font-size-xs);
		line-height: var(--line-height-content);
		color: var(--muted-text);
	}

	&__content {
		color: var(--text-color);

		max-height: calc(var(--line-height-content) * 3);
		overflow: hidden;

		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	&__reactions {
		font-weight: 400;
		font-size: var(--font-size-xs);
		line-height: var(--line-height-content);
		color: var(--muted-text);
	}
}

// Override bbPress styles
.bbp-reply-content .be-support-content a.be-support-content__link.be-support-content__link {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.be-support-content-wordpress-icon {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--accent-3);
	border-radius: 2px;
}

.be-support-content-block-icon {
	&.is-margin-right {
		margin-right: 10px;
	}

	svg,
	svg * {
		fill: currentColor;
		stroke: currentColor;
	}
}

@keyframes be-support-content_skeleton__animation {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

.be-support-content-inline-skeleton {
	display: inline-block;
	color: var(--border-color);
	background-color: var(--border-color);
	width: 20em;

	animation: be-support-content_skeleton__animation 1.6s ease-in-out infinite;

	&::after {
		content: "X";
	}

	&.is-hidden {
		visibility: hidden;
	}

	&.is-large {
		width: 34em;
		height: calc(var(--line-height-content) * 3);
	}
}
