// General CSS
.blocks-everywhere {
	margin-bottom: 30px;

	// Hide the original textarea
	> textarea {
		display: none;
	}

	&.blocks-everywhere--error {
		> textarea {
			display: block;
		}
	}
}

.gutenberg-comments #comment {
	display: none;
}

// wp-admin has a darker border
.wp-admin .iso-editor {
	border-color: var(--wp-components-color-gray-300);
}

@import "./buddypress.scss";
@import "./comments.scss";
@import "./bbpress.scss";
@import "./editor.scss";
