@use 'sass:meta';

// General CSS
.blocks-everywhere {
	margin-bottom: 30px;

	// Hide the original textarea
	> textarea {
		display: none;
	}

	&.blocks-everywhere--error {
		> textarea {
			display: block;
		}
	}
}

.gutenberg-comments #comment {
	display: none;
}

// wp-admin has a darker border
.wp-admin .iso-editor {
	border-color: var(--wp-components-color-gray-300);
}

@include meta.load-css( './buddypress.scss' );
@include meta.load-css( './comments.scss' );
@include meta.load-css( './bbpress.scss' );
@include meta.load-css( './editor.scss' );
