@import "@wordpress/base-styles/_colors";

// bbPress
.gutenberg-support {
	// No way to stop this HTML appearing through filters
	.form-allowed-tags {
		display: none;
	}

	// Let popovers show outside the editor
	#bbpress-forums,
	.interface-interface-skeleton,
	.interface-interface-skeleton__body,
	.interface-interface-skeleton__content,
	.interface-interface-skeleton__editor {
		overflow: inherit;
	}

	#bbpress-forums,
	.bbp-topic-form {
		/* Override bbPress list styles */
		.editor-styles-wrapper li,
		.editor-styles-wrapper ul {
			list-style: inherit;
			margin: inherit;
			padding: inherit;
		}

		.editor-styles-wrapper ul {
			padding-left: 15px;
		}

		.editor-styles-wrapper li {
			margin-top: 0;
			padding-left: 5px;
			margin-bottom: 0.5em;
		}

		// Clean up the link popup
		fieldset.bbp-form .block-editor-link-control input {
			margin: inherit;
			max-width: inherit;
			padding: 11px 16px;
			height: 100%;
			min-height: inherit;
		}
	}
}

// Loading animation until JS is loaded
html:not(.interface-interface-skeleton__html-container) .bbp-the-content-wrapper {
	min-height: 200px;
	background-color: $gray-200;
	border: 1px solid $gray-200;
	animation: loading-fade 1.6s ease-in-out infinite;
	margin-bottom: 57px;
}

/* Reset bbPress code style */
body.page .bbp-topic-form,
body.single-forum .bbp-topic-form {
	.editor-styles-wrapper code {
		border: none;
		background-color: inherit;
		font-size: inherit;
		padding: 0;
		margin-top: 0;
		width: inherit;
		display: inline;
	}

	.editor-styles-wrapper pre {
		margin-top: 16px;
		margin-bottom: 16px;
	}
}

@keyframes loading-fade {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
