// General CSS
.blocks-everywhere {
	margin-bottom: 30px;

	// Hide the original textarea
	> textarea {
		display: none;
	}
}

// wp-admin has a darker border
.wp-admin .iso-editor {
	border-color: #ccd0d4;
}

@keyframes loading-fade {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}

@import "./buddypress.scss";
@import "./comments.scss";
@import "./bbpress.scss";
@import "./editor.scss";
